* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
   
}


.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* ================= LEFT SECTION STYLES ================= */
.left-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #ffffff;
}

.logo img {
   width: 20%;
}


.signup-pg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    color: #1a1a1a;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}


.input-grp {
    margin-bottom: 15px;
}

.input-grp label {
     color: #333;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
   
  
}

.input-grp input[type="text"],
.input-grp input[type="email"],
.input-grp input[type="password"],
.input-grp input[type="number"] {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #f8f9fa;
    border-radius: 8px;
    font-size: 14px;
    /* outline: none; */
    transition: border-color 0.3s;
}

.input-grp input::placeholder {
    color: #979595ec;
}

.input-grp input:focus {
    border-color: #003b46;
 } 


.password-input {
    position: relative;
}

.toggle-password {
    color: #aaa;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}




.btn-signup {
    background-color: #003b46;
    color: white;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s;
}

.btn-signup:hover {
    background-color: #002a33;
}


.divider {
    text-align: center;
    margin: 25px 0;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background-color: #e1e1e1;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.divider span {
    background-color: #fff;
    padding: 0 10px;
    color: #aaa;
    font-size: 14px;
}


.social-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.btn-social {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    border: 1px solid #e1e1e1;
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-social:hover {
    background-color: #f8f9fa;
}


.login-link {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.login-link a {
    color: #003b46;
    text-decoration: none;
    font-weight: 600;
}

/* ================= Responsive Adjustments ================= */
@media (max-width: 992px) {
   
    .main-container {
        flex-direction: column;
        height: auto;
    }
    .left-section, .right-section {
        flex: none;
        width: 100%;
        padding: 40px 20px;
    }
    
    .images-container {
        width: 100%; 
        height: auto;
        min-height: 300px;
    }
    .img-back {
         width: 90%; position: relative; 
        }
   
}

@media (max-width: 630px){
    .right-section{
        display: none;
    }
}


    /* Swal Customization */

.glass-alert {
  backdrop-filter: blur(12px);
  border-radius: 20px;
}




