* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

/* =====================================================================   SIGNUP PAGE STYLING   ===================================================================== */

.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
    animation: slideDown 1s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-80px) scale(1.06);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.left-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #ffffff;
}

.logo img {
    width: 20%;
}

.signup-pg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    color: #1a1a1a;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.input-grp {
    margin-bottom: 15px;
}

.input-grp label {
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

.input-grp input[type="text"],
.input-grp input[type="email"],
.input-grp input[type="password"],
.input-grp input[type="number"] {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #f8f9fa;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.input-grp input::placeholder {
    color: #979595ec;
}

.input-grp input:focus {
    border-color: #4f46e5;
}

.password-input {
    position: relative;
}

.toggle-password {
    color: #aaa;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-signup {
    background-color: #4f46e5;
    color: white;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s;
}

.btn-signup:hover {
    background-color: #4e46e5e8;
}

.divider {
    text-align: center;
    margin: 25px 0;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background-color: #e1e1e1;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.divider span {
    background-color: #fff;
    padding: 0 10px;
    color: #aaa;
    font-size: 14px;
}

.social-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.btn-social {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    border: 1px solid #e1e1e1;
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-social:hover {
    background-color: #f8f9fa;
}

.login-link {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.login-link a {
    color: #4f46e5;
    text-decoration: none;
    font-weight: 600;
}

/* ================= Responsive Adjustments ================= */
@media (max-width: 992px) {
    .main-container {
        flex-direction: column;
        height: auto;
    }

    .left-section,
    .right-section {
        flex: none;
        width: 100%;
        padding: 40px 20px;
    }

    .images-container {
        width: 100%;
        height: auto;
        min-height: 300px;
    }

    .img-back {
        width: 90%;
        position: relative;
    }
}

@media (max-width: 630px) {
    .right-section {
        display: none;
    }
}

/* Swal Customization */

.glass-alert {
    backdrop-filter: blur(12px);
    border-radius: 20px;
}













































/* =====================================================================   DASHBOARD PAGE STYLING   ===================================================================== */

:root {
    --primary: #4f46e5;
    --primary-hover: #4338ca;
    --bg-body: #f1f5f9;
    --bg-sidebar: #ffffff;
    --text-main: #1e293b;
    --text-muted: #64748b;
    --border: #e2e8f0;
    --radius-lg: 16px;
    --radius-md: 12px;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background: var(--bg-main);
    overflow-x: hidden;
}

.sidebar-nav {
    width: 260px;
    background: var(--bg-sidebar);
    height: 100vh;
    position: fixed;
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
}

.brand-area {
    padding: 20px 10px;
    font-weight: 800;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: var(--primary);
    gap: 10px;
}

.brand-area i {
    color: var(--primary);
}

.links {
    margin-top: 30px;
    flex-grow: 1;
    padding: 15px;
}

.link-item {
    text-decoration: none;
    color: #64748b;
    padding: 14px 18px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: 0.2s;
}

.link-item.active,
.link-item:hover {
    background: #f1f5f9;
    color: var(--primary);
}

.sidebar-bottom {
    padding: 20px;
    border-top: 1px solid var(--border-color);
}

.btn-logout {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #fee2e2;
    color: #ef4444;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    translate: 1s ease-out forwards;
}

.page-content {
    transition: 0.3s;
    margin-left: 260px;
    padding: 40px;
    min-height: 100vh;
}

.section-title {
    margin-bottom: 35px;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #fcfcfde1;
    padding-bottom: 30px;
    padding-top: 30px;
}

.section-title h1 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 8px;
    color: #0f172a;
}

.section-title p {
    color: #64748b;
}

.main-grid {
    display: grid;
    grid-template-columns: 850px 1fr;
    gap: 50px;
    align-items: start;
    position: sticky;
    top: 10px;
}

.card-form {
    position: sticky;
    top: 30px;
    background: white;
    padding: 25px;
    border-radius: var(--radius-lg);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
}

#card-form {
    position: sticky;
    top: 20%;
    bottom: 0%;
}

.card-h {
    font-size: 1.1rem;
    margin-bottom: 25px;
    color: #1e293b;
}

.field-box {
    margin-bottom: 20px;
}

.field-box label {
    display: block;
    font-weight: 700;
    font-size: 0.85rem;
    color: var(--text-muted);
    margin-bottom: 8px;
}

.upload-zone {
    height: 140px;
    border: 2px dashed var(--border);
    border-radius: var(--radius-md);
    padding: 30px;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
    cursor: pointer;
    background: #fcfcfd;
    transition: 0.3s;
}

.upload-zone:hover {
    border-color: var(--primary);
    background: #f5f3ff;
}


.upload-zone i {
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 8px;
}

.status-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.status-item {
    flex: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    background: #f8f9fa;
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    transition: all 0.3s ease;
    font-weight: 600;
}

.status-radio {
    accent-color: #4f46e5;
    width: 18px;
    height: 18px;
}

.status-item:hover {
    border-color: #4f46e5;
    background: #f0f0ff;
}

.status-item:has(.status-radio:checked) {
    background: #4f46e5;
    border-color: #4f46e5;
    color: white;
}

.status-item:has(.status-radio:checked) .status-radio {
    accent-color: white;
}


input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    outline: none;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 4px rgba(79, 70, 229, 0.1);
}

.color-control {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

input[type="color"] {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
}

.add-color-trigger {
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 0 15px;
    font-weight: 600;
    cursor: pointer;
    padding: 20px;
    transition: 0.5s ease-in-out;
}

.add-color-trigger:hover {
    border: 1px solid #4f46e5;
}

.publish-trigger {
    width: 100%;
    background: var(--primary);
    color: white;
    border: none;
    padding: 14px;
    border-radius: var(--radius-md);
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.publish-trigger:hover {
    box-shadow: 0 10px 15px -3px rgba(79, 70, 229, 0.3);
    background: var(--primary-hover);
}

.product-preview-card {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    border: 1px solid #eee;
    overflow: hidden;
    transition: 0.3s;
    height: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.product-preview-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}


.card-img-custom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.p-visual {
    width: 100%;
    height: 300px;
    background: #f1f5f9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #94a3b8;
    overflow: hidden;
}

.p-admin-tools {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
}

.p-admin-tools button {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background: white;
    cursor: pointer;
    color: var(--primary);
    box-shadow: var(--shadow);
}

.p-admin-tools .del-tool {
    color: #ef4444;
}

.p-details {
    padding: 20px;
}

.p-tag {
    font-size: 0.7rem;
    font-weight: 800;
    color: var(--primary);
    letter-spacing: 1px;
    margin-bottom: 8px;
    display: block;
}


.p-details p {
    font-size: 0.8rem;
    color: #64748b;
    margin-bottom: 20px;
    overflow: hidden;
    height: 35px;
    line-height: 1.3;
}

.p-swatches {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
    margin: 15px 0;
}

.p-swatches span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 0 1px #e2e8f0;
}

.p-footer-status {
    font-size: 0.85rem;
    padding-top: 12px;
    border-top: 1px solid var(--border);
    color: var(--text-muted);
}

.p-footer-status b {
    color: #10b981;
}

.p-details h4 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    white-space: nowrap;
    color: #0f172a;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-wrapper {
    width: 100%;
    height: 100%;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}



#prodImg::-webkit-file-upload-button {
    display: none;
}

#prodImg {
    visibility: hidden;
}

.color-item-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    vertical-align: middle;
    border-color: #10b981;
}

.mobile-top-nav {
    display: none;
}


.color-input-field {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
}


/* --- RESPONSIVE LOGIC --- */
@media (max-width: 1025px) {
    .main-grid {
        grid-template-columns: 1fr;
    }

    #card-form {
        position: static;
    }
}

@media (max-width: 768px) {

    .page-content {
        margin-left: 0;
        padding: 20px;
    }

    .mobile-top-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding: 15px 20px;
        border-bottom: 1px solid var(--border-color);
        position: sticky;
        top: 0;
        z-index: 1001;
    }

    .hamburger-btn {
        font-size: 1.4rem;
        cursor: pointer;
        color: #1e293b;
    }

    .m-logo {
        font-weight: 800;
        color: var(--primary);
    }

    .m-user {
        font-size: 1.4rem;
        color: #64748b;
    }

    .sidebar-nav {
        transform: translateX(-100%);
        transition: 0.3s;
    }

    /* Show Sidebar when checkbox checked */
    #menu-toggle:checked~.dashboard-wrapper .sidebar-nav {
        transform: translateX(0);
    }

    .mobile-overlay-mask {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    #menu-toggle:checked~.mobile-overlay-mask {
        display: block;
    }
}

#product-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.status-item:has(input:checked) {
    background: var(--primary);
    color: white;
    border-color: var(--primary);
}

/* --- Responsive --- */
@media (max-width: 1100px) {
    .main-grid {
        grid-template-columns: 1fr;
    }

    .card-form {
        position: static;
    }
}


















#product-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    align-items: stretch;
}

.product-preview-card {
    background: white;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.p-visual {
    width: 100%;
    height: 250px;
    background: #f1f5f9;
    position: relative;
    flex-shrink: 0;
}

.p-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.p-details h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #0f172a;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.p-details p {
    font-size: 0.9rem;
    color: var(--text-muted);
    line-height: 1.5;
    margin-bottom: 15px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.p-swatches {
    margin-top: auto;
    display: flex;
    gap: 8px;
    padding-bottom: 15px;
}

.p-footer-status {
    padding-top: 15px;
    border-top: 1px solid #f1f5f9;
    font-size: 0.85rem;
    color: var(--text-muted);
}
